[submodule "llvmlite"]
	path = llvmlite
	url = https://github.com/numba/llvmlite.git
[submodule "llvm-project"]
	path = llvm-project
	url = https://github.com/llvm/llvm-project.git
[submodule "llvm"]
	path = llvm
	url = https://github.com/llvm/llvm-project.git
